{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"} ring/ring-core {:mvn/version "1.10.0"} ring/ring-jetty-adapter {:mvn/version "1.10.0"} integrant/integrant {:mvn/version "0.8.1"} integrant/repl {:mvn/version "0.3.3"} metosin/reitit {:mvn/version "0.6.0"} metosin/reitit-ring {:mvn/version "0.6.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "practice-log.practice-log"]}
  :run-x {:ns-default practice-log.practice-log
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}} :neil {:project {:name practice-log/practice-log}}}}
